<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Odiseo Chatbot - Dialogflow Web</title>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
        expand="true"
        chat-icon="https:&#x2F;&#x2F;i.ibb.co&#x2F;rFTYG3f&#x2F;owl.jpg"
        intent="Welcome"
        chat-title="Odiseo Agent"
        agent-id="7fd5a40e-683d-4602-b55f-e7bc32b90e9c"
        language-code="es"
    ></df-messenger>
    <style>
        df-messenger {
         --df-messenger-bot-message: #878fac;
        }
      </style>
</head>
<body>

</body>
</html>

