<!doctype html>
<html lang="en">
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <title>Prototype API Tools</title>
    <style>
      html {
          box-sizing: border-box;
      }
      *, *:before, *:after {
          box-sizing: inherit;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron" style='padding:40px;'>
      <h3>Servidor Pruebas Chatbot Odiseo</h3>
      <hr >
      <h6>Fullfillment Webhook (Interfaz DialogFlow)</h6>
        <ul>  
          <li><a href="/server/webhook">Respuesta desde NodeJS</a></li> 
        </ul>
        <hr class="my-4">
        <h6>Google Cloud API (Uso de credenciales)</h6>
        <ul>
          <li><a href="/server/api/list">Listar intents actuales</a></li>
          <li><a href="/server/api/create">Crear intent de prueba "int_api_create"</a></li>
          <li><a href="/server/api/delete/">Borrar intent de prueba "int_api_create"</a></li> 
        </ul>
        <hr class="my-4">
        <h6>Database MongoCloud (Uso de conexion)</h6>
        <ul>
          <li><a href="/server/db/test/">Comprobar cadena de conexion</a></li>
          <li><a href="/server/db/setdata/">Insertar datos</a></li>
          <li><a href="/server/db/getdata/">Consultar datos</a></li>
        </ul>
        <hr class="my-4">
        <h6>Prototype Questions/Answers</h6>
        <ul>
          <li><a href="/server/prototype/apitools/reset"> Restablecer intent "tools_check"</a></li>
          <li><a href="/server/prototype/apitools/list"> Mostrar lista detallada de intents</a></li>
          <li><a href="/server/prototype/apitools/setdisplayname"> Modificar displayname del intent "tools_check"</a></li>
        </ul> 
    </div>
  </body>
</html>